<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../public/stylesheet/style.css" />
  </head>
  <body>
    <nav>
     <a href="/moreprojects"> <h1>More-Projects...</h1></a>
     <a href="/user/profile"> <h1>profile</h1></a>
      <a href="/product/allproducts"><h1>All_products</h1></a>
      <a href="/about"><h1>About</h1></a>
    </nav>
  </body>
</html>
