<%- include('./partials/header') %>
<div class="aboutpageproject">
  <div class="layoutproject">
    <div class="leftproject">
      <h1>Project Name:[online task]</h1>
      <br />
      <p>
        <h1>Description:</h1>
        This project is an e-commerce platform built using Node.js and MongoDB. It allows users to register and log in to the website. Authenticated users can create, view, and manage products. The platform leverages a reference schema to efficiently handle relationships between users and products.
      </p>
      <p>
        
      </p>
      <br />
      <br />
      
    </div>
    <!--  -->
    <div class="rightproject">
      <h1>Key Features:</h1>
    
      <p>
        1. Secure user authentication  for password hashing.
        <br>
        2. authentication for secure access to protected routes.
      </p>
      <br>
      <br>
      <h1>Product Management:</h1>
      <p>
       1. Users can create new products with various details. <br>
       2. Products are linked to the user who created them using a reference schema.
      </p>
      <br>
      <br>
      <h1>Profile Management:</h1>
      <p>
        Users can update their profile information including name, email, and password.
      </p>
    </div>
    <!--  -->
    <div class="leftproject">
      <h1>Technologies Used:</h1>
      <br />
      <p>
       1. Node.js: Backend runtime environment.
       <br>
        2. Express.js: Web framework for building the API.
        <br>
       3.  MongoDB: NoSQL database for storing user and product data.
        <br>
       4. Mongoose: ODM (Object Data Modeling) library for MongoDB.
        <br>
       5.local-session: Library for hashing passwords.
        <br>
        6. multe- multer is used for image uploading  
        <br>
        7. MongoDB Atlas- for storing online data
      </p>
      
      
    </div>
    <br>
    <br>

    <footer>
      <div class="leftfooter">
        <p class="lefttext">
          Contact Me
              <br>
          Mobile:- 9589087138
          <br>
          About Us <br>
         
          Locations :- BHOPAL(MADHYAPRADESH)<br>
         
          </p>  
      </div>
      <div class="rightfooter">
        <a href="https://www.linkedin.com/in/radheshyam-lodhi-227171199/" target="_main"><i class="ri-linkedin-box-fill text-3xl"></i>-https://www.linkedin.com/in/radheshyam-lodhi-227171199/</i></a>
        <br>
        <a href="https://github.com/lodhiradhe123" target="_main"><i class="ri-github-line text-3xl">-https://github.com/lodhiradhe123</i></a>
        <br>
        <br>
        
        <a href="" target="_main"><i class="ri-instagram-line text-3xl"> -radheshyam5228</i></a>
        <br>
        <a href="mailto:radheshyamlodhi48@gmail.com" target="_main"><i class="ri-mail-line text-2xl inline">-radheshyamlodhi48@gmail.com</i></a>

      </div>
    </footer>
  </div>
</div>

<%- include('./partials/footer') %>
