<%- include('./partials/header') %>
<div class="aboutpageproject">
  <div class="aboutlayoutproject">
    <div class="leftproject">
      <h1>Project Name:[online task]</h1>
      <br />
      <p>
        <h1>Description:</h1>
        This project is an e-commerce platform built using Node.js and MongoDB. It allows users to register and log in to the website. Authenticated users can create, view, and manage products. The platform leverages a reference schema to efficiently handle relationships between users and products.
      </p>
      <p>
        
      </p>
      <br />
      <br />
      
    </div>
    <!--  -->
    <div class="rightproject">
      <h1>Key Features:</h1>
    
      <p>
        1. Secure user authentication  for password hashing.
        <br>
        2. authentication for secure access to protected routes.
      </p>
      <br>
      <br>
      <h1>Product Management:</h1>
      <p>
       1. Users can create new products with various details. <br>
       2. Products are linked to the user who created them using a reference schema.
      </p>
      <br>
      <br>
      <h1>Profile Management:</h1>
      <p>
        Users can update their profile information including name, email, and password.
      </p>
    </div>
    <!--  -->
    <div class="leftproject">
      <h1>Technologies Used:</h1>
      <table>
        <thead>
            <tr>
                <th> Name</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td> 1. Node.js:</td>
                <td>Backend runtime environment.</td>
               
            </tr>
            <tr>
                <td> 2. Express.js</td>
                <td>Web framework for building the API.</td>
            </tr>
            <tr>
                <td> 3. MongoDB</td>
                <td>NoSQL database for storing user and product data.</td>
            </tr>
            <tr>
              <td> 4. Mongoose</td>
              <td>ODM (Object Data Modeling) library for MongoDB.</td>
          </tr>
          <tr>
              <td> 5. bcryptjs</td>
              <td>Library for hashing passwords.</td>
          </tr>
          <tr>
              <td> 6. jsonwebtoken</td>
              <td>Library for generating and verifying JWT tokens.</td>
          </tr>
          <tr>
            <td> 7. multer</td>
            <td>multer is used for uploading image</td>
        </tr>
        <tr>
          <td> 8. mongo DB Atlas</td>
          <td>mongoDB atlas is used for online databse</td>
      </tr>
        </tbody>
    </table>
      
      
    </div>
    <br>
    <br>

    <footer class="aboutfooter">
      
      <div class="aboutrightfooter">
        <marquee behavior="" direction="">
          <h1>THANK YOU ! 😊</h1>
        </marquee>

      </div>
    </footer>
  </div>
</div>

<%- include('./partials/footer') %>
