<%- include("./partials/header") %>
    <main class="main">
      <div class="forminp ">
        <h1>forget password !</h1>
        <form action="/user/forgetpassword" method="post">
          <input type="email" name="email" id="" placeholder="enter your registered email">
          <br>
          <input value="Reset" type="submit" name="" id="" class="btn">

        </form>
      </div>
    </main>
  
    <%- include("./partials/footer") %>
