<%- include('./partials/header') %>
<div class="landingpage">
<%- include('./partials/nav') %>
   

  <div class="layout">
  

    <a href=""
      ><button class="project"><i class="ri-indent-increase"></i></button
    ></a>
    <a href="/user/login"><button class="login">Login</button></a>
    <h1>welcome to my online task</h1>
    <br />
    <a href="/user/register"><button class="register">register</button></a>
  </div>
</div>

<%- include('./partials/footer') %>
