<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@4.3.0/fonts/remixicon.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <%- include('./partials/header') %>
    <div class="landingpage">
      <%- include('./partials/nav') %>

      <div class="layout">
        <a href=""
          ><button class="project"><i class="ri-indent-increase"></i></button
        ></a>
        <a href="/user/login"><button class="login">Login</button></a>
        <h1>welcome to my online task</h1>
        <br />
        <a href="/user/register"><button class="register">register</button></a>
      </div>
    </div>

    <%- include('./partials/footer') %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js" integrity="sha512-7eHRwcbYkK4d9g/6tD/mhkf++eoTHwpNM9woBxtPUBWm67zeAfFC+HrdoE2GanKeocly/VxeLvIqwvCdk7qScg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="/javascripts/script.js"></script>
    </body>
    </html>
