<%- include('./partials/header') %>
<div class="landingpageproject">
  <div class="layoutproject">
    <div class="leftproject">
      <h1>E-commerce-website</h1>
      <br />
      <p>
        <a
          href="https://github.com/lodhiradhe123/backend-project-02.git"
          target="_main"
          >Github-link:-https://github.com/lodhiradhe123/backend-project-02.git</a
        >
      </p>
      <h1>project link</h1>
      <p>
        <a href="https://the-bag-showroom.onrender.com" target="_main"
          >https://the-bag-showroom.onrender.com</a
        >
      </p>
      <br />
      <br />
      <a href="https://the-bag-showroom.onrender.com" target="_main">
        <button>click</button>
      </a>
    </div>
    <!--  -->
    <div class="rightproject">
      <h1>The pig Game</h1>
      <br />
      <p>
        <a href="https://github.com/lodhiradhe123/PIG_GAME.git" target="_main"
          >https://github.com/lodhiradhe123/PIG_GAME.git</a
        >
      </p>
      <h1>project link</h1>
      <p>
        <a
          href="https://github.com/lodhiradhe123/PIG_GAME.git"
          target="_main"
        ></a>
      </p>
      <br />
      <br />
      <a href="https://github.com/lodhiradhe123/PIG_GAME.git" target="_main">
        <button>click</button>
      </a>
    </div>
    <!--  -->
    <div class="leftproject">
      <h1>Brain.Space</h1>
      <br />
      <p>
        <a
          href="https://github.com/lodhiradhe123/brain.space.git"
          target="_main"
          >https://github.com/lodhiradhe123/brain.space.git</a
        >
      </p>
      <h1>Git Hub link</h1>
      <p>
        <a
          href="https://github.com/lodhiradhe123/brain.space.git"
          target="_main"
        ></a>
      </p>
      <br />
      <br />
      <a href="https://github.com/lodhiradhe123/brain.space.git" target="_main">
        <button>click</button>
      </a>
    </div>
    <br>
    <br>

    <footer>
      <div class="leftfooter">
        <p class="lefttext">
          Contact Me
              <br>
          Mobile:- 9589087138
          <br>
          About Us <br>
         
          Locations :- BHOPAL(MADHYAPRADESH)<br>
         
          </p>  
      </div>
      <div class="rightfooter">
        <a href="https://www.linkedin.com/in/radheshyam-lodhi-227171199/" target="_main"><i class="ri-linkedin-box-fill text-3xl"></i>-https://www.linkedin.com/in/radheshyam-lodhi-227171199/</i></a>
        <br>
        <a href="https://github.com/lodhiradhe123" target="_main"><i class="ri-github-line text-3xl">-https://github.com/lodhiradhe123</i></a>
        <br>
        <br>
        
        <a href="" target="_main"><i class="ri-instagram-line text-3xl"> -radheshyam5228</i></a>
        <br>
        <a href="mailto:radheshyamlodhi48@gmail.com" target="_main"><i class="ri-mail-line text-2xl inline">-radheshyamlodhi48@gmail.com</i></a>

      </div>
    </footer>
  </div>
</div>

<%- include('./partials/footer') %>
