<%- include("./partials/header") %>
    <main class="main">
      <div class="forminp ">
        <h1>forget password !</h1>
        <form action="/user/newpassword/<%=user._id%>" method="post">
          <input type="text" name="password" id="" placeholder="enter your new password">
          <br>
          <input value="save" type="submit" name="" id="" class="btn">

        </form>
      </div>
    </main>
  
    <%- include("./partials/footer") %>
