<%- include("./partials/header") %>
    <main class="main">
      <div class="forminp ">
        <h1>reset password !</h1>
        <form action="/user/resetpassword" method="post">
          <input type="password" name="newpassword" id="" placeholder="enter your newpassword">
         
          <br>
          <input value="Reset" type="submit" name="" id="" class="btn">

        </form>
      </div>
    </main>
  
    <%- include("./partials/footer") %>
