* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
  font-family: sans-serif;
}
.main {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.forminp {
  border-radius: 20px;
  width: 60vw;
  height: auto;
  background-color: rgba(0, 0, 0, 0.663);
  padding: 5%;
  text-align: center;
  color: whitesmoke;
}
input {
  width: 100%;
  padding: 10px;
  margin-bottom: 2vh;
  border-radius: 20px;
  font-size: 20px;
}
.btn {
  width: 20vw;
  font-size: larger;
  font-weight: 900;
  background-color: aqua;
}
.already,
a {
  color: white;
  text-decoration: none;
  text-transform: capitalize;
}

/* profile css
 */

.icon {
  color: white;
  font-size: 25px;
  display: flex;
  gap: 3vw;
}
.profile {
  color: white;
}
.centerprofile {
  padding: 3vw;
  display: flex;
  gap: 3rem;
  justify-content: center;
  align-items: center;
  background: rgb(132, 125, 125);
  text-align: justify;
}

.image {
  width: 15vw;
  border-radius: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background: rgb(239, 177, 177);
  display: flex;
  justify-content: end;
  position: relative;
}
.editimage{
  font-size: 2rem;
  position: absolute;
  bottom: 0%;
  right: 8%;
  cursor: pointer;

}

/* //landingpage */
.landingpage {
  top: 0;
  width: 100%;
  height: 100vh;
  background-image: url("../images/2aec23ff-f013-4a28-b01c-7e6c95538df9.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.login {
  width: 4rem;
  height: 2rem;
  font-size: 1.5rem;
  font-weight: bold;
  background-color: transparent;
  color: white;
  border-radius: 20px;
  border: none;
  position: absolute;
  top: 3%;
  right: 6%;
  cursor: pointer;
}
.project {
 
  font-size: 2.5rem;
  font-weight: bold;
  color: white;
  border-radius: 20px;
  border: none;
  position: absolute;
  background-color: transparent;
  top: 3%;
  left: 6%;
  cursor: pointer;
}
.layout {
  color: white;
  font-size: 15px;
  width: 100%;
  height: 100vh;
  background: #00000098;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 3;

}
.layout h1 {

  color: white;
  font-size: 3.5rem;
  text-align: center;
  font-family: sans-serif;
  text-transform: capitalize;
}
.register {
  width: 8rem;
  height: 4rem;
  font-size: 1.5rem;
  font-weight: bold;
  background-color: blue;
  color: white;
  border-radius: 20px;
  border: none;
  cursor: pointer;
}


/* my products  */


.myproducts{
  width: 100%;
  /* height: 100vh; */
  display: flex;
  gap: 3rem;
  flex-wrap: wrap;
  justify-content: center;
  /* align-items: center; */
  background-color: beige;
}
.product{
  width: 20%;
  height:70% ;
  margin-top:2% ;
  background-color: rgb(209, 209, 209);
  border-radius: 20px;
  overflow: hidden;
  padding: 4px;
  border: 1px solid grey;
  position: relative;
}
.pimage{
  width: 100%;
  height: 60%;
  /* background-color: aqua; */
  
}
.pimage img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-position: cenetr;
  background-repeat: no-repeat;
  border-radius: 20px;
  

}
.pbtn{
  display: flex;
  justify-content: space-between;
  padding: 3%;
}
.pbtn a{
  text-decoration: none;
  color: blue;
  font-size: larger;
  font-weight: 700;
}
/* allproducts */
.allbtn{
  display: flex;
  justify-content: space-between;
  padding: 3%;
  bottom: 2%;
}
.allbtn a{
  text-decoration: none;
  color: green;
  font-size: larger;
  font-weight: 700;
  border: 2px solid gray;
  border-radius: 20px;
  padding: 2px 4px;
  background: pink;
}


/* upadate image css */


.updateimage{
  width: 15%;
  height: 15%;
  object-fit: cover;
  background-position: cenetr;
  background-repeat: no-repeat;
  border-radius: 20px;
  
}

.backarrow{
  font-size: 40px;
  display: flex;
  justify-content: start;
}
.homearrow{
  font-size: 40px;
  position: absolute;
  top: 0%;
  left: 3%;
}
.deleteuser{
  font-size: 26px;
  color: tomato;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 20px;
  padding: 2px 4px;
}
.deleteuser:hover{
  background-color:tomato ;
  color: black;
}
.updateuser{
  font-size: 26px;
  color: blue;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 20px;
  padding: 2px 4px;
}
.updateuser:hover{
  background: royalblue;
  color: whitesmoke;
}


.form-image{
  display: none;
}


/* nav integration */
nav{
  height: 40%;
  /* background: rgba(0, 0, 0, 0.673); */
  color: white;
  position: absolute;
  z-index: 11;
  text-align: start;
  font-size: 15px;
  font-weight: 500;
  top: 15%;
  left: -25%;
  opacity: 0;
  line-height: 50px;

}
.landingpageproject {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  background-image: url("../images/ecom.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: scroll;
}
.layoutproject {
  color: white;
  width: 100%;
  height: 235vh;
  background: #00000098;
  position: absolute;
  z-index: 3;
  text-align: center;

}
/* .layoutproject h1{
  font-size: 5rem;
  text-transform: capitalize;
} */
/* .landingpageproject{
  color: rgb(9, 255, 9);
  font-size: 2rem;

} */
.leftproject{
  padding: 3%;
  width: 50%;
  /* height: 30%; */
  background-color: rgba(2, 55, 37, 0.6);
  border-radius: 20px;
}
.leftproject h1 {
  font-size: 3rem;
  color: white;
}
.leftproject a{
  font-size: 1.5rem;
  color: rgb(0, 254, 0);
}
.leftproject button{
  padding: 10px 20px;
  border-radius: 20px;
  font-size: 2rem;
  background-color: rgb(51, 51, 233);
  color: white;
  border: none;
}

.rightproject{
  padding: 2%;
  width: 50%;
  /* height: 30%; */
  margin-left: 49.5%;
  background-color: rgba(2, 55, 37, 0.6);
  border-radius: 20px;
}
.rightproject h1 {
  font-size: 3rem;
  color: white;
}
.rightproject a{
  font-size: 1.5rem;
  color: rgb(0, 254, 0);
}
.rightproject button{
  padding: 10px 20px;
  border-radius: 20px;
  font-size: 2rem;
  background-color: rgb(51, 51, 233);
  color: white;
  border: none;
}

/* footer */

footer{
  width: 100%;
  height: 25%;
  background: rgba(128, 128, 128, 0.685);
  padding: 5%;
  display: flex;
  justify-content: space-between;
  border-radius: 20px;
}
.leftfooter{
  width: 30%;
  text-align: start;
  font-size: 2rem;
  line-height: 50px;
}

.rightfooter{
  /* width: 30%; */
  text-align: start;
  font-size: 1.5rem;
  line-height: 50px;
}

/* aboutpage */
.aboutpageproject {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  background-image: url("https://images.unsplash.com/photo-1518481612222-68bbe828ecd1?w=1200&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8YWJvdXR8ZW58MHx8MHx8fDA%3D");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: scroll;
}
.aboutpageproject p{
  font-size: 25px;
  text-align: start;
  line-height: 35px;
}

/* about page css */
.aboutlayoutproject {
  color: white;
  width: 100%;
  /* height: 235vh; */
  background: #00000065;
  position: absolute;
  z-index: 3;
  text-align: center;

}


.aboutfooter{
  width: 100%;
  height: 10%;
  background: rgba(128, 128, 128, 0.685);
  padding: 5%;
  display: flex;
  justify-content: center;
  border-radius: 20px;
}


.aboutrightfooter{
  width: 60%;
  height: auto;
  text-align: start;
  font-size: 1.5rem;
  line-height: 50px;
}

/* table css */
table {
  width: 100%;
  border-collapse: collapse;
}
th, td {
  border: 1px solid black;
  padding: 8px;
  text-align: left;
}
th {
  background-color: black;
}